/* Global resets */

*
    margin: 0
    padding: 0

html, body
    height: 100%
    
body
    background-color: white
    font:
        family: helvetica, arial, clean, sans-serif
        size: 13.43px, small
    text:
        align: center
        
h1, h2, h3, h4, h5, h6
    font-size: 100%

h1
    margin-bottom: 1em
    
p
    margin: 1em 0

/* Variables */

!page_width = 800px
!sidebar_width = 200px
!content_padding = 50px
!content_width = !page_width - !sidebar_width
!link_color = #00a
!link_hover = black
!link_visited = #a0a


#container
    width= !page_width
    margin: 0 auto
    text-align: left

#banner
    font-size: 1.5em
    text-transform: lowercase
    padding:
        top: 2em
        right: 0
        bottom: 1em
        left= !sidebar_width
    a
        color: rgb(170, 0, 0)
        text-decoration: none
        &:hover
            color= !link_hover
    #home
        text-transform: uppercase
        color: gray
        font-size: 0.5em
        padding: 1em 1em 0 1em     
        &:hover
            color= !link_hover

#sidebar
    font-size: 0.95em
    text-align: right
    width= !sidebar_width - !content_padding
    margin:
        right= (!sidebar_width * -1)
    position: fixed
    ul
        list-style-type: none
        li
            margin: 0 0 0.25em 0
        a
            color: gray
            text-decoration: none
            &:hover
                color= !link_hover
        
#content
    text-align: justify
    margin: 0
        left= !sidebar_width
    width= !content_width
    a
        text-decoration: none
        color= !link_color
        &:hover
            text-decoration: underline
            color= !link_hover
    .post
        margin: 0 0 2em 0
        border-bottom: thin solid lightgray
        h1
            text-transform: capitalize
            font-size: 1.1em
            a
                color= !link_color
                text-decoration: none
                &:hover
                    text-decoration: underline
        h2
            padding-top: 1em
        p
            margin: 0.75em 0
        ul
            margin: 0 0 0 2em
        div.date
            color: darkgray
            font-size: 0.9em
            font-style: italic
            margin: 0
            padding: 0
        .related
            border-top: medium solid lightgray
            padding: 1em 0 0 0
            margin: 1em 0
            text-transform: uppercase
            font-size: 1.5em
            font-weight: bold
            ul
                margin: 0.25em 0 0 0
                li
                    font-size: 0.75em
                    list-style-type: none
                    text-transform: none
                    font-weight: normal
                    margin: 0.1em 0 0 0 
                    span.date
                        color: black
                        font-weight: bold
                        margin: 0 0.25em 0 0
        div.comments
            border-top: medium solid lightgray
            padding: 1em 0 0 0
            margin: 1em 0
            text-transform: uppercase
            font-size: 1.5em
            font-weight: bold
        p.comments
            text-align: right
            font-size: 0.93m
        div.tags
            text-transform: lowercase
            display: inline
            font-size: 0.75em
            text-align: right
            color: gray
            ul
                list-style-type: none
                li
                    margin: 0 0.05em 0 0
                    display: inline
                    a
                        color= !link_color
                        text-decoration: none
                        &:hover
                            color= !link_hover
                            text-decoration: underline
    ul.archive
        list-style-type: none
        li
            color: black
            margin: 0 0 1em 0
            .date
                color: gray
    div.projects
        margin: 0
        padding: 0
        div
            padding: 0
            margin: 0 0 2em 0
        h1
            font-size: 1.1em
            margin: 0 0 0.5em 0
            padding: 0