/* Global resets */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: white;
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 13.43px, small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

/* Variables */
#container {
  width: 800px;
  margin: 0 auto;
  text-align: left; }

#banner {
  font-size: 1.5em;
  text-transform: lowercase;
  padding-top: 2em;
  padding-right: 0;
  padding-bottom: 1em;
  padding-left: 200px; }
  #banner a {
    color: rgb(170, 0, 0);
    text-decoration: none; }
    #banner a:hover {
      color: black; }
  #banner #home {
    text-transform: uppercase;
    color: gray;
    font-size: 0.5em;
    padding: 1em 1em 0 1em; }
    #banner #home:hover {
      color: black; }

#sidebar {
  font-size: 0.95em;
  text-align: right;
  width: 150px;
  margin-right: -200px;
  position: fixed; }
  #sidebar ul {
    list-style-type: none; }
    #sidebar ul li {
      margin: 0 0 0.25em 0; }
    #sidebar ul a {
      color: gray;
      text-decoration: none; }
      #sidebar ul a:hover {
        color: black; }

#content {
  text-align: justify;
  margin: 0;
    margin-left: 200px;
  width: 600px; }
  #content a {
    text-decoration: none;
    color: #0000aa; }
    #content a:hover {
      text-decoration: underline;
      color: black; }
  #content .post {
    margin: 0 0 2em 0;
    border-bottom: thin solid lightgray; }
    #content .post h1 {
      text-transform: capitalize;
      font-size: 1.1em; }
      #content .post h1 a {
        color: #0000aa;
        text-decoration: none; }
        #content .post h1 a:hover {
          text-decoration: underline; }
    #content .post h2 {
      padding-top: 1em; }
    #content .post p {
      margin: 0.75em 0; }
    #content .post ul {
      margin: 0 0 0 2em; }
    #content .post div.date {
      color: darkgray;
      font-size: 0.9em;
      font-style: italic;
      margin: 0;
      padding: 0; }
    #content .post .related {
      border-top: medium solid lightgray;
      padding: 1em 0 0 0;
      margin: 1em 0;
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold; }
      #content .post .related ul {
        margin: 0.25em 0 0 0; }
        #content .post .related ul li {
          font-size: 0.75em;
          list-style-type: none;
          text-transform: none;
          font-weight: normal;
          margin: 0.1em 0 0 0; }
          #content .post .related ul li span.date {
            color: black;
            font-weight: bold;
            margin: 0 0.25em 0 0; }
    #content .post div.comments {
      border-top: medium solid lightgray;
      padding: 1em 0 0 0;
      margin: 1em 0;
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold; }
    #content .post p.comments {
      text-align: right;
      font-size: 0.93m; }
    #content .post div.tags {
      text-transform: lowercase;
      display: inline;
      font-size: 0.75em;
      text-align: right;
      color: gray; }
      #content .post div.tags ul {
        list-style-type: none; }
        #content .post div.tags ul li {
          margin: 0 0.05em 0 0;
          display: inline; }
          #content .post div.tags ul li a {
            color: #0000aa;
            text-decoration: none; }
            #content .post div.tags ul li a:hover {
              color: black;
              text-decoration: underline; }
  #content ul.archive {
    list-style-type: none; }
    #content ul.archive li {
      color: black;
      margin: 0 0 1em 0; }
      #content ul.archive li .date {
        color: gray; }
  #content div.projects {
    margin: 0;
    padding: 0; }
    #content div.projects div {
      padding: 0;
      margin: 0 0 2em 0; }
    #content div.projects h1 {
      font-size: 1.1em;
      margin: 0 0 0.5em 0;
      padding: 0; }
