<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div id="container">
            <div id="banner">
                <h1><a href="/">Chandler Kent</a><a id="home" href="/">Home</a></h1>
            </div>

            <div id="sidebar">
                {% include sidebar.html %}
            </div>
        
            <div id="content">
                {{ content }}
            </div>
        </div>
        
        {% if page.include_comments == true %}
        <!-- Disqus -->
        <script type="text/javascript">
        //<![CDATA[
        (function() {
        	var links = document.getElementsByTagName('a');
        	var query = '?';
        	for(var i = 0; i < links.length; i++) {
        	if(links[i].href.indexOf('#disqus_thread') >= 0) {
        		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        	}
        	}
        	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/chandlerkent/get_num_replies.js' + query + '"></' + 'script>');
        })();
        //]]>
        </script>
        {% endif %}
    </body>
</html>