---
layout: default
---

<div class="post">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <div class="date">{{ page.date | date: "%d %b %Y"}}</div>
    {{ content}}
    {% unless page.tags == empty %}
    <div class="tags">
        <ul>
            <li>tags:</li>
            {% for tag in page.tags %}
            <li><a href="http://www.google.com/search?q={{ tag }}+site:chandlerkent.com">{{ tag }}</a>{% unless forloop.last %},{% endunless %}</li>
            {% endfor %}
        <ul>
    </div>
    {% endunless %}
</div>
